body
{
    margin: 0;
    padding: 0;

    /* truco para que no se mueva */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a
{
    text-decoration: none;
    
    display: inline;
    color:black;
}


header
{
    width: 100%;

    height: 140px;
    display: grid;

    grid-row: 1fr 1fr;
}




/*section de redes sociales-------------------------------------------------------------------------------------------------------section de redes sociales*/

header .main-rs
{
    width: 100%;
        min-width: 320px;

    height: 50%;

    display: grid;
    background-color: #47CFAC;
}


header .main-rs .main-rs--container
{
    width:300px;
    height: auto;

    display: flex;
    justify-items: flex-end;
    align-items: center;
/* 
    justify-content: between; */
    justify-content: end;
    /* justify-self: end; */
    /* margin-right: 20px; */
    /* justify-content: end; */
    justify-self: end;
    
}



/*icnosnos*/

header .main-rs .main-rs--container .rs--link
{
    
    background-color: white;
    border-radius: 30px;
    margin-right: 10px;
    
}

header .main-rs .main-rs--container .rs--link img
{
    position: relative;
    top: 2px;
    width: 100%;
    height: 20px;
}


/*fin de seccion de redes sociales-----------------------------------------------------------------------------------------------------------fin de section de redes sociales*/
