@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');


html{
    font-size: 100%;
}
body
{
    font-family: "Roboto Mono",sans-serif;   
    margin: 0;
    padding: 0;

    /* truco para que no se mueva */

}
.home-body
{

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


a
{
    text-decoration: none;
    
    display: inline;
    color:black;
}


header
{
    width: 100%;

    height: 150px;
    display: grid;

    grid-row: 1fr 1fr;
}




/*section de redes sociales-------------------------------------------------------------------------------------------------------section de redes sociales*/

header .main-rs
{
    width: 100%;
        min-width: 320px;

    height: 100%;

    display: grid;
    background-color: #47CFAC;
}


header .main-rs .main-rs--container
{
    width:300px;
    height: auto;

    display: flex;
    justify-items: flex-end;
    align-items: center;
/* 
    justify-content: between; */
    justify-content: end;
    /* justify-self: end; */
    /* margin-right: 20px; */
    /* justify-content: end; */
    justify-self: end;
    
}



/*icnosnos*/

header .main-rs .main-rs--container .rs--link
{
    
    background-color: white;
    border-radius: 30px;
    margin-right: 10px;
    
}

header .main-rs .main-rs--container .rs--link img
{
    position: relative;
    top: 2px;
    width: 100%;
    height: 20px;
}


/*fin de seccion de redes sociales-----------------------------------------------------------------------------------------------------------fin de section de redes sociales*/






/*nav---------------------------------------------------------------------------------------nav-------------------------------------------------------------inicio nav*/

nav
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50%;
}

nav .nav-logo-container
{
    margin-left: 10px;
}
nav .nav-logo-container a img
{
    
    width: 150px;
    
    margin-top: 10px;

}

nav .profile-container
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
     margin-bottom: 2px; 

    

}

nav .profile-container a
{
    font-size: 1.2rem;

    color: black;
    border-bottom: 1px solid black;

} 

/* FIN DE NAV----------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN NAV*/





/*imagen principal---------------------------------------------------------------------------------------------------------------------------------------*/
.home-main 
{
    display: grid;
    grid-template-columns: 1r 4fr 1fr;
    height: 100%;

    background-image: url("../assets/img/cove.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.home-main section 
{
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 150px;

    /* text-align: center; */
}

.home-main .home-main--text
{
     font-size: 1.8rem;
    font-weight: 700;
    letter-spacing:5px ;

     font-family: 'Roboto', sans-serif;
     font-weight: bold;
        
    color: azure;
}

.home-main--botton
{
    width:90px;
    height: 40px;

    background-color: #47CFAC;

    display: grid;
    align-items: center;
    margin: 0 calc(28%);
}
.home-main--botton a
{
    font-size: 1.2rem;
    font-weight: 700;


}






/*------------BLOGS POST------------------------------------------------------------------------------------------------------------------------------incio de BLOGS*/

.blogs-main 
{
    display: grid;

    
}
.blogs-news-container
{
    background-color: #e6e9ed;

    /* espacio interno de un contenedor */
    padding: 0 50px 40px;


    

}

.blogs-main-new
{
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.blogs-news-img-container
{
    grid-column: 1;
}

.blogs-news-info-container
{
    grid-column: 2;
}
.blogs-news-img-container img
{
    width: 80%;
    
    

}

.blogs-news-info-cantainer p
{
    font-size: .8rem;
}


.blogs-post-container
{
    padding: 0 50px 40px;
}

.blogs-post-container h3
{
    border-bottom: 1px solid #cdd2da;

    padding-bottom: 20px;

    text-align: center;
}

/*FIN DE BLOGS-------------------------------------------------------------------------------------------------------------------------------------------------FIN DE BLOGS*/